body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

nav {
    background-color: #6bdfb9;
    color: #372d2d;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h1 {
    margin: 0;
    font-size: 1.5em;
    color: #372d2d;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    
}

nav ul li {
    margin-left: 20px;

    background-color: #e2e2e2;
}

nav ul li a {
    color: #372d2d;
    font-weight: 600;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 4px;
   
  
}

nav ul li:hover {
    background-color: #adadad;
   
    color: #372d2d;
    border-radius: 4px;

}

main {
    padding: 20px;
    max-width: 1200px;
    margin: 20px auto;
    background-color: #cccccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* color: #e0e0e0; */
}

h2 {
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #e0e0e0;
    margin: 10px 0;
    padding: 10px;
    border-radius: 4px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
  justify-content: center;
  display: flex;
  align-items: center;
}

footer p {
    margin: 0;
}
